.cardItem{
  width: 20rem;
  margin: 3rem 1rem;
  border-radius: 1.5rem;
  box-shadow: rgba(71, 71, 71, 0.35) 0 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image{
    height: 25.5em;
    & img{
      width: 18rem;
      border-radius: 1rem;
      margin-top: 1rem;
    }
  }

  &__rate{
    width: 14rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;

    & img{
      width: 3rem;
      margin-right: 1rem;
      border-radius: 0.5rem;
    }
  }

  &__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 14rem;
    & span:nth-child(1){
      color: #F5C518;
    }

    & span:nth-child(2){
      font-weight: bold;
      font-size: large;
    }
  }
  &__content{
    width: 14rem;
    color: #858383;
    margin-bottom: 1rem;
  }
}