
.carouselItem {
  padding: 1rem 1rem;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 50rem;

  &__image img {
    border-radius: 10px;
    margin-right: 3rem;
    height: 23rem;
  }

  &__side {
    display: flex;
    flex-direction: column;

    &__top {
      width: 8rem;
      display: flex;
      justify-content: space-evenly;

      &__image {
        width: 4rem;
        margin-right: 2rem;
        border-radius: 5px;
      }

      &__title {
        font-weight: bold;
        font-size: larger;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      height: 15rem;
      padding-top: 2rem;

      &__date {
        color: #f5c518;
      }

      &__title {
        font-size: 2rem;
        font-weight: bolder;
        padding-bottom: 2rem;
      }
    }

    &__fav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 18rem;

      &__add {
        height: 2.75rem;
        width: 9rem;
        border: none;
        outline: none;
        border-radius: 10px;
        color: white;
        background-color: #f5c518;
        cursor: pointer;
        box-shadow: 0 14px 26px rgba(39, 13, 48, 0.25);

        &:active {
          background-color: #a2810c;
        }
      }

      &__detail {
        color: #f5c518;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 1rem;


        &:hover {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .carouselItem {
    margin: 0;
    width: 20rem;
    height: 33rem;

    &__image {
      display: none;
    }

    &__side {
      margin: 0 2rem;
      width: 30rem;

      &__top{
        padding-top: 1rem;
      }

      &__fav {
        width: 15rem;
        margin-top: 10rem;
      }
    }
  }
}