.detailPage{
  &__toHome{
    padding-left: 18%;
    background: linear-gradient(90deg, rgba(245, 197, 24, 0.26) 22.24%, rgba(251, 247, 252, 0) 100%);
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__item{
    display: flex;
    width: 50rem;
    margin: 0 auto;

    &__left img{
      border-radius: 1rem;
      height: 404px;
      width: 281px;
      margin-right: 1rem;
    }

    &__right{
      display: flex;
      flex-direction: column;
      width: 33rem;
      position: relative;

      &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &__rating{
          display: flex;
          align-items: center;

          &__logo{
            width: 3rem;
            margin-right: 1rem;
          }
          & span{
            font-size: 1.25rem;
          }
        }

        &__fav{
          &__button{
            width: 8rem;
            height: 2.5rem;
            border: none;
            outline: none;
            border-radius: 8px;
            background-color: #F5C518;
            box-shadow: 0 14px 26px rgba(39, 13, 48, 0.25);
            color: white;
            cursor: pointer;

            &:active{
              background-color: #a2810c;
            }
          }
        }
      }

      &__middle{

        &__title{
          display: flex;
          flex-direction: column;
          &__year{
            color: #F5C518;
          }
          &__title{
            font-size: 25px;
            font-weight: 600;
          }
        }

        &__plot{
          line-height: 35px;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      &__bottom{
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 2rem;
        width: 100%;
        font-size: 1rem;

        &__director{
          color: #F5C518;
        }
      }
    }
  }
}


@media only screen and (max-width: 840px){
  .detailPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__item{
      display: flex;
      flex-direction: column;
      width: 70%;

      &__left img{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
      }

      &__right{
        width: 100%;
        height: 30rem;


      }
    }
  }
}