.button{
  height: 2.75rem;
  width: 9rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: 0 14px 26px rgba(39, 13, 48, 0.25);

  &__add{
    background-color: #f5c518;
    &:active{
      background-color: #a2810c;
    }
  }
  &__remove{
    background-color: #a2810c;
    &:active{
      background-color: #F5C518;
    }
  }
}