.searchPage{

  &__toHome{
    padding-left: 18%;
    background: linear-gradient(90deg, rgba(245, 197, 24, 0.26) 22.24%, rgba(251, 247, 252, 0) 100%);
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
}